{% extends "form_simp_base.html" %}

{% block content %}
<script src="/static/js/bootstrap-select.min.js"></script>
<link href="/static/css/bootstrap-select.min.css" rel="stylesheet">

<script>
// To style all <select>s
$('select').selectpicker();
</script>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="page-header">
      <h2>User Status</h2>
    </div>
    <h4>Student ID <small>{{ u.username }}</small></h4>
    <h4>Email <small>{{ u.email }}</small></h4>
    <h4>First Name <small>{{ u.first_name }}</small></h4>
    <h4>Last Name <small>{{ u.last_name }}</small></h4>
    <a class="btn btn-primary" href="/account/{{ u.id }}/">Edit</a>
    {% if u.is_staff %}
    <div class="page-header">
      <h2>Create a new course</h2>
    </div>
    <form method="post" action="/course/create/">
      {% csrf_token %}
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course name </span>
        <input type="text" class="form-control" placeholder="e.g. CPSC 121 WT2" name="cname" aria-describedby="basic-addon1">
      </div>
      <h5>Browsable:</h5> 
      <select  class="selectpicker" name="browsable">
        <option value="true" selected>True</option> 
        <option value="false">False</option>
      </select>
      <h5>Archived:</h5> 
      <select class="selectpicker" name="archived">
        <option value="true">True</option> 
        <option value="false" selected>False</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}

    <div class="page-header">
              <h2>Enroll in a new course</h2>
    </div>
            <form method="post" action="/course/enroll/">
              {% csrf_token %}

              <div class="input-group input-group-sm">
                <input name="coursecode" type="text" class="form-control" placeholder="Your course code:" maxlength="14">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-chevron-right"></span> Enroll
                  </button>
                </span>
              </div>
            </form>
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="page-header">
      {% if u.is_staff %}
      <h2>All Available Courses</h2>
      {% else %}
      <h2>Courses Enrolled</h2>
      {% endif %}
    </div>
    
    <div class="panel panel-default"> 
      {% if u.is_staff %}
      <table class="table"> 
        <thead> <tr> <th>#</th> <th>Display Name</th> <th>Student Access Code</th> <th>TA Access Code</th> <th>Browsable?</th> <th>Control</th> </tr> </thead> 
        <tbody> 
        {% for c in clist %}
        <tr> <th scope="row">{{ forloop.counter }}</th> 
          <td><a href="/course/{{ c.courseid }}/">{{ c.displayname }}</a></td> 
          <td><code>{{ c.stucode }}</code></td> 
          <td><code>{{ c.tascode }}</code></td> 
          <td><kbd>{{ c.browsable }}</kbd></td> 
          <td>
            <div class="btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="caret"></span> Control
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">
                  {% if c.browsable %}
                  <a href="/course/{{ c.courseid }}/modify/?action=hide" target="_ntab">hide</a>
                  {% else %}
                  <a href="/course/{{ c.courseid }}/modify/?action=show" target="_ntab">show</a>
                  {% endif %} 
                </li>
                <li><a href="/course/{{ c.courseid }}/modify/?action=delete" target="_ntab">delete</a></li>
                <li><a href="/course/{{ c.courseid }}/members/">see users</a></li>
                <li><a href="/course/{{ c.courseid }}/config/">config</a></li>
              </ul>
            </div>
          </td> 
        </tr>
        {% endfor %}
        </tbody> 
      </table>
      {% else %}
        {% if not clist %}
        <div class="alert alert-info" role="alert" style="margin: 4px;">
  <a href="#" class="alert-link">No course information available</a>
</div>
        {% endif %}
      <table class="table"> 
        <thead> <tr> <th>#</th> <th>Display Name</th> <th>Status Message</th> <th>Control</th> </tr> </thead> 
        <tbody> 
        {% for c in clist %}
        <tr> <th scope="row">{{ forloop.counter }}</th> 
          <td>{{ c.displayname }}</td> 
          <td><code> c.stumsg </code></td> 
          <td>
              <a href="/course/{{ c.courseid }}/" class="btn btn-default btn-sm" type="button">
                 Open
              </a>
          </td> 
        </tr>
        {% endfor %}
        </tbody> 
      </table>
      {% endif %}
    </div>
    
    
    
  </div>
  
</div>
</div>
{% endblock %}
