{% extends "form_simp_base.html" %}

{% block content %}

<div class="container-fluid">
<a href="/course/all/">return to course list</a>
  <h1>{{ c.displayname }} <!--<small>Course code: {{ c.name }}</small>--></h1>
  
  
  <!--<p>Teaching Assistants: {% for ta in tas %} {{ ta.email }} {% endfor %}</p>
  -->
  
  
{% if not request.user.is_staff %}
  {% if not enroll %}
  <!--
            <form method="post" action="/course/enroll/">
              {% csrf_token %}

              <div class="input-group input-group-sm">
                <input name="coursecode" type="text" class="form-control" placeholder="Your course code:" maxlength="14">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-chevron-right"></span> Enter
                  </button>
                </span>
              </div>
            </form>
            -->
  {% endif %}

{% else %}
    <a href="/course/{{ cid }}/members/">Show user info</p>
    <a href="/course/{{ cid }}/config/">config the course</a>      
    <a href="/task/create/">create a new task</a>  
    <h2>Marking Load</h2>
  {% for u in admins %}
  <!--the admin table-->
  {% endfor %}
  
    {% endif %}
  
  
  <h3>New Assignment</h3>

</div>
{% endblock %}
