{% extends "form_simp_base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="jumbotron">
   <h1>Class:Course <small>sub: create</small></h1>
  {% if success %}
  <p>You have successfully created a course!</p>
  <p>Course code for students: <code>{{ course.stucode }}</code></p>
  <p>Course code for teaching assistants: <code>{{ course.tascode }}</code></p>
  <a href="/course/all/">See the course list</a>
  {% else %}
  <p>Error: {{ error }}</p>
  {% endif %}
  </div> 
</div>
{% endblock %}
