{% extends "form_simp_base.html" %}

{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="page-header">
      <h2>Users in {{ c.displayname }} {{ c.courseid }}</h2>
    </div>
    {% for group in groups %}
    <h2>{{ group.name }} table</h2>
    <!--
    <th>Role</th> <th>Marking Load</th> 
              <td><code>{{ s.usertype }}</code></td> 
              <td><code>{{ s.markingload }}</code></td> 
    -->
    <div class="panel panel-default"> 
      <table class="table"> 
        <thead> <tr> <th>#</th> <th>User ID</th> <th>Student ID</th> <th>Name</th> <th>Control</th> </tr> </thead> 
        <tbody> 
        {% for s in group.members %}
        <tr> <th scope="row">{{ forloop.counter }}</th> 
          <td><a href="/account/{{ s.id }}/" target="_ntab">{{ s.id }}</a></td>
          <td><code>{{ s.username }}</code></td> 
          <td>{{ s.first_name }} {{ s.last_name }}</td> 
          <td>
            <div class="btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="caret"></span> Control
              </button>
              <ul class="dropdown-menu">
                <li><a href="/user/{{ s.id }}/modify/?action=delete" target="_ntab">remove</a></li>
                <li><a href="/account/{{ s.id }}/">user profile</a></li>
              </ul>
            </div>
          </td> 
        </tr>
        {% endfor %}
        </tbody> 
      </table>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
