    <form class="ui large form" method="POST" action="/account/form/?special=true">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="credit card alternative icon"></i>
            <input type="text" name="username" placeholder="UBC Student ID">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="UBC E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="first_name" placeholder="First name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="users icon"></i>
            <input type="text" name="last_name" placeholder="Last name">
          </div>
        </div>
        <div class="field">
          <select name="groups" class="ui fluid dropdown">
            <option value="superuser">Super User</option>
            <option value="instructor">Instructor</option>
            <option value="assistant">Teaching Assistant</option>
            <option value="student">Student</option>
          </select>
        </div>
        <button class="ui fluid large blue submit button" type="submit">Sign Up</button>
      <div class="ui error message"></div>
    </form>
