    <table class="ui celled table selectable inverted">
    <thead>
      <tr>
        <th>Name</th>
        <th>UBC ID</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
  <div class="item">
    <div class="ui tiny buttons">
      <button id="button-edit" class="ui inverted blue button">Edit</button>
      <!--<button class="ui inverted orange button">Deregister</button>-->
      {% if not user.is_staff %}
      <a class="ui inverted yellow button" href="/account/{{ user.id }}/promote/">Promote</a>
      {% else %}
      {% endif %}
      {% if user.is_active %}
      <a class="ui inverted red button" href="/account/inactivate/?username={{ user.username }}">Remove</a>
      {% else %}
      <a class="ui inverted orange button" href="/account/activate/?username={{ user.username }}">Active</a>
      {% endif %}
    </div>
  </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="ui pagination menu">
  <a class="active item">
    1
  </a>
  <div class="disabled item">
    ...
  </div>
  <a class="item">
    10
  </a>
  <a class="item">
    11
  </a>
  <a class="item">
    12
  </a>
</div>

